<div class="intro" #intro >
    <h1 class="logo" >
       
        <span class="logo-parts" #parts>D</span>
        <span class="logo-parts" #parts>e</span>
        <span class="logo-parts" #parts>c</span>
        <span class="logo-parts" #parts>o</span>
        <span class="logo-parts" #parts>r</span>
        <span class="logo-parts" #parts id="icon"><i class="bi bi-flower3"></i></span>
    </h1>
    <h3 class="intro-say">It's pride of home & finest to Decor</h3>

</div>

<section class="hero">
    <div class="hero-container">
        <h1 class="text-slanted">
            rest, relax, unwind
        </h1>
        <h3>Embrace your choices - we do</h3>
        
        <a href="#" class="hero-btn">
            show now
        </a>
        <div class="waves">
            <div class="line line-1">
                <div class="wave wave1" ></div>
            </div>
            <div class="line line-2">
                <div class="wave wave2" ></div>
            </div>
            <div class="line line-3">
                <div class="wave wave3" ></div>
            </div>
        </div>
    </div>
    
</section>
<div class="Block Block--ThreeColumnCopyIconRow">
<div data-react="ThreeColumnCopyIconRow" data-react-props-namespace="vm">
    <div class="ThreeColumnCopyIconRow  ThreeColumnCopyIconRow--Light">
        <marquee direction="scroll">
            <!--<p>kdnsvjnsd &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;             lnkvdlnvfldnvd              lknvdlfknvldfknv</p>-->
        
<div class="ThreeColumnCopyIconRow__Row container">
        
            <div class="ThreeColumnCopyIconRow__Col  ThreeColumnCopyIconRow__Col--Light">
                <a class="ThreeColumnCopyIconRow__Link u-reset-a" href="https://www.raymourflanigan.com/locations" title="Visit a Showroom">
                    <span class="ThreeColumnCopyIconRow__Text"><i class="bi bi-truck fa-4x"></i> Free delivery over 3000 DH <i class="bi bi-chevron-compact-right"></i></span>
                </a>
            </div>
            <div class="ThreeColumnCopyIconRow__Col  ThreeColumnCopyIconRow__Col--Light">
                <a class="ThreeColumnCopyIconRow__Link u-reset-a" href="/mattresses?utm_content=RTB_block" title="Free Mattress Delivery†">
                    <span class="ThreeColumnCopyIconRow__Text"><i class="bi bi-wrench-adjustable-circle"></i> Free Bed Assembly <i class="bi bi-chevron-compact-right"></i></span>
                </a>
            </div>
            <div class="ThreeColumnCopyIconRow__Col  ThreeColumnCopyIconRow__Col--Light">
                <a class="ThreeColumnCopyIconRow__Link u-reset-a" href="/about-us/pay-your-way?utm_content=RTB_block" title="Extended Financing Available ">

                <span class="ThreeColumnCopyIconRow__Text"><i class="bi bi-credit-card-fill"></i> Extended Financing Available <i class="bi bi-chevron-compact-right"></i> </span>
            </a>
            </div>
            
           
        </div>
   
    </marquee>
    </div>
</div>
</div>
<section class="section featured">
    <div class="title">
      <h2><span>/</span> Big Sale!</h2>
    </div>
    <div class="featured-center section-center">
        <app-carousel [images]="Images" ></app-carousel>
    </div>
</section>

<!--<section class="section featured">
    <div class="title">
      <h2><span>/</span> Shop by category</h2>
    </div>
    <div >
        <div class="centered">
            <section class="cards">
                
                <figure class="snip1401 card">
                    <h2 class="category_title">Bedroom</h2>
                    <img src="https://www.livingspaces.com/globalassets/images/inspiration/rooms/bedroom/220811-magnolia-homes-shoot3829-1_bedroom.jpg?w=580&h=440&mode=pad" alt="sample67" />
                    <figcaption>
                    <h3>Eleanor Fant</h3>
                    <p>Which is worse, that everyone has his price, or that the price is always so low.</p>
                    </figcaption><i class="ion-ios-home-outline"></i>
                    <a href="#"></a>
                </figure>
             
                <figure class="snip1401 card">
                <h2 class="category_title">Decor</h2>
                <img src="https://images.unsplash.com/photo-1558603668-6570496b66f8?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=464&q=80" alt="sample67" />
                <figcaption>
                    <h3>Eleanor Fant</h3>
                    <p>Which is worse, that everyone has his price, or that the price is always so low.</p>
                </figcaption><i class="ion-ios-home-outline"></i>
                <a href="#"></a>
                </figure>
           
                <figure class="snip1401 card">
                    <h2 class="category_title">Office</h2>  
                <img src="https://www.livingspaces.com/globalassets/images/inspiration/rooms/office/210225-home-office1214-1_1a.jpg?w=580&h=440&mode=pad" alt="sample87" />
                <figcaption>
                    <h3>Will Barrow</h3>
                    <p>The only skills I have the patience to learn are those that have no real application in life. </p>
                </figcaption><i class="ion-ios-location-outline"></i>
                <a href="#"></a>
                </figure>
            
                <figure class="snip1401 card">
                    <h2 class="category_title">Dining Room</h2>
                    <img src="https://images.unsplash.com/photo-1544457070-4cd773b4d71e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1860&q=80" alt="sample87" />
                    <figcaption>
                    <h3>Will Barrow</h3>
                    <p>The only skills I have the patience to learn are those that have no real application in life. </p>
                    </figcaption><i class="ion-ios-location-outline"></i>
                    <a href="#"></a>
                </figure>
          </section>
          <section class="cards">
                
            <figure class="snip1401 card">
                <h2 class="category_title">Kids Room</h2>
                <img src="https://www.livingspaces.com/globalassets/images/inspiration/rooms/kids/210701-lifestyle2429-1.jpg?w=580&h=440&mode=pad" alt="sample67" />
                <figcaption>
                <h3>Eleanor Fant</h3>
                <p>Which is worse, that everyone has his price, or that the price is always so low.</p>
                </figcaption><i class="ion-ios-home-outline"></i>
                <a href="#"></a>
            </figure>
         
            <figure class="snip1401 card">
                <h2 class="category_title">Patio & Backyard</h2>
            <img src="https://livingspaces.com/globalassets/images/inspiration/rooms/patio/210202-outdoor-ravelo0441-1ar2.jpg?w=580&h=440&mode=pad" alt="sample67" />
            <figcaption>
                <h3>Eleanor Fant</h3>
                <p>Which is worse, that everyone has his price, or that the price is always so low.</p>
            </figcaption><i class="ion-ios-home-outline"></i>
            <a href="#"></a>
            </figure>
       
            <figure class="snip1401 card">
                <h2 class="category_title">Bathroom</h2>
            <img src="https://images.unsplash.com/photo-1564540583246-934409427776?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=853&q=80" alt="sample87" />
            <figcaption>
                <h3>Will Barrow</h3>
                <p>The only skills I have the patience to learn are those that have no real application in life. </p>
            </figcaption><i class="ion-ios-location-outline"></i>
            <a href="#"></a>
            </figure>
        
            <figure class="snip1401 card">
                <h2 class="category_title">Living Room</h2>
                <img src="https://www.livingspaces.com/globalassets/images/inspiration/rooms/family/221206-sectional-catalog-2.07276_familyroom.jpg?w=580&h=440&mode=pad" alt="sample87" />
                <figcaption>
                <h3>Will Barrow</h3>
                <p>The only skills I have the patience to learn are those that have no real application in life. </p>
                </figcaption><i class="ion-ios-location-outline"></i>
                <a href="#"></a>
            </figure>
      </section>
          </div>
    </div>
</section>-->

    <section class="container_card">
    <div class="title">
      <h2><span>/</span> Shop by category</h2>
    </div>
    <div class="centered flex-box">
        <figure class="snip1401 card">
            <h2 class="category_title">Bedroom</h2>
            <img src="https://www.livingspaces.com/globalassets/images/inspiration/rooms/bedroom/220811-magnolia-homes-shoot3829-1_bedroom.jpg?w=580&h=440&mode=pad" alt="sample67" />
            <figcaption>
           
            <ul>
               <li> <a [routerLink]="['/lkh']" class="item">Sofas</a></li>
               <li> <a [routerLink]="['/lkh']" class="item">Rugs</a></li>
               <li> <a [routerLink]="['/lkh']" class="item">Daybeds</a></li>
               <li> <a [routerLink]="['/lkh']" class="item">Tables</a></li>
               <li> <a [routerLink]="['/lkh']" class="item">TV Stands</a></li>
               <li> <a [routerLink]="['/lkh']" class="item">Bookcases</a></li>
               <li> <a [routerLink]="['/lkh']" class="item">Chests</a></li>
            </ul>
            
            </figcaption><i class="ion-ios-home-outline"></i>
            <a href="#"></a>
        </figure>
        
            <figure class="snip1401 card">
                <h2 class="category_title">Office</h2>  
            <img src="https://www.livingspaces.com/globalassets/images/inspiration/rooms/office/210225-home-office1214-1_1a.jpg?w=580&h=440&mode=pad" alt="sample87" />
            <figcaption>
                <ul>
                    <li> <a [routerLink]="['/lkh']" class="item">Beds</a></li>
                    <li> <a [routerLink]="['/lkh']" class="item">Mattresses</a></li>
                    <li> <a [routerLink]="['/lkh']" class="item">Dressers</a></li>
                    <li> <a [routerLink]="['/lkh']" class="item">Vanities</a></li>
                    <li> <a [routerLink]="['/lkh']" class="item">Bedding</a></li>
                    <li> <a [routerLink]="['/lkh']" class="item">Armoires+Wadrobes</a></li>
                 </ul>
            </figcaption><i class="ion-ios-home-outline"></i>
            <a href="#"></a>
            </figure>
       
    
            <figure class="snip1401 card">
                <h2 class="category_title">Dining Room</h2>
                <img src="https://themewagon.github.io/treviso/images/demo/portfolio-1.jpg" alt="sample87" />
                <figcaption>
                    <ul>
                        <li> <a [routerLink]="['/lkh']" class="item">Dining Tables</a></li>
                        <li> <a [routerLink]="['/lkh']" class="item">Dining Chairs</a></li>
                        <li> <a [routerLink]="['/lkh']" class="item">Sideboards+buffets</a></li>
                        <li> <a [routerLink]="['/lkh']" class="item">4 Seat DS</a></li>
                        <li> <a [routerLink]="['/lkh']" class="item">6 Seat DS</a></li>
                        <li> <a [routerLink]="['/lkh']" class="item">8 Seat DS</a></li>
                     </ul>
                </figcaption><i class="ion-ios-home-outline"></i>
                <a href="#"></a>
            </figure>
            <figure class="snip1401 card">
                <h2 class="category_title">Kids Room</h2>
                <img src="https://www.livingspaces.com/globalassets/images/inspiration/rooms/kids/210701-lifestyle2429-1.jpg?w=580&h=440&mode=pad" alt="sample67" />
                <figcaption>
                    <ul>
                        <li> <a [routerLink]="['/lkh']" class="item">Office Chairs</a></li>
                        <li> <a [routerLink]="['/lkh']" class="item">Office Desks</a></li>
                        <li> <a [routerLink]="['/lkh']" class="item">Office Sets</a></li>
                        <li> <a [routerLink]="['/lkh']" class="item">Desk lamps</a></li>
                        <li> <a [routerLink]="['/lkh']" class="item">Gaming Chairs</a></li>
                        
                     </ul>
                </figcaption><i class="ion-ios-home-outline"></i>
                <a href="#"></a>
            </figure>
        
            <figure class="snip1401 card">
                <h2 class="category_title">Patio & Backyard</h2>
            <img src="https://themewagon.github.io/treviso/images/demo/portfolio-5.jpg" alt="sample67" />
            <figcaption>
                <ul>
                    <li> <a [routerLink]="['/lkh']" class="item">Sets</a></li>
                    <li> <a [routerLink]="['/lkh']" class="item">Sofas</a></li>
                    <li> <a [routerLink]="['/lkh']" class="item">Outdoor Chairs</a></li>
                    <li> <a [routerLink]="['/lkh']" class="item">outdoor tables</a></li>
                    <li> <a [routerLink]="['/lkh']" class="item">Outdoor Decor</a></li>
                    
                 </ul>
            </figcaption><i class="ion-ios-home-outline"></i>
            <a href="#"></a>
            </figure>
            
            <figure class="snip1401 card">
                <h2 class="category_title">Living Room</h2>
                <img src="https://www.livingspaces.com/globalassets/images/inspiration/rooms/family/221206-sectional-catalog-2.07276_familyroom.jpg?w=580&h=440&mode=pad" alt="sample87" />
                <figcaption>
                    <ul>
                        <li> <a [routerLink]="['/lkh']" class="item">Kids bed</a></li>
                        <li> <a [routerLink]="['/lkh']" class="item">Kids Dressers+chests</a></li>
                        <li> <a [routerLink]="['/lkh']" class="item">Kids Dicor</a></li>
                        
                        
                     </ul>
                </figcaption><i class="ion-ios-home-outline"></i>
                <a href="#"></a>
            </figure>
    </div>

    <section>
        <div class="title">
          <h2><span>/</span> Shop by collection</h2>
        </div>
        
        <div class="image-cover">
            <div class="row">
              <div class="col-md-12">
                <div class="container collection">
                <div class="base_image" id="wrapper">
                  <div class="easypin" style="width: 100%; height: 100%; position: relative;">
                    <div style="position: relative; height: 100%; ">
                      <img id="image1" src="assets/images/home_img/img_collection.jpeg" class="pin" easypin-id="example" style="opacity: 1; position: relative;">
                    </div>
                    <div style="width: 32px; height: 32px; position: absolute; cursor: pointer; left: 82.3344%; top: 43.4286%; opacity: 1; z-index: 0;" class="easypin-marker">
                      <div class="text-inside" (click)="onTableClick()" >
                        <img src="assets/images/home_img/plus.png" alt="" class="plus" [class.img_active]="T_Active">
                        <div class="text-box" [class.active]="T_Active">
                            <div>
                                <img src="assets/images/home_img/chest_Plus.jpg" alt="">
                                
                            </div>
                            
                            <div class="content">
                                <h5>new couch</h5>
                                <p>
                                    take our furniture with perfect quality and price.
                                </p>
                                <div class="quick-look__actions"><button type="button" id="284080-guicklook-add-to-cart" data-dismiss="modal" class="btn secondary-button add-to-cart-btn" tabindex="0">Add to Cart</button> <a class="btn detail" data-uw-rm-kbnav="anohref" href="https://www.livingspaces.com/pdp-emery-chiffon-84-inch-sofa-with-reversible-chaise-284080" data-uw-rm-brl="false" aria-label="Add to Cart More Details" uw-rm-vague-link-id="https://www.livingspaces.com/pdp-emery-chiffon-84-inch-sofa-with-reversible-chaise-284080$more details" data-uw-rm-vglnk="" tabindex="0">More Details</a></div>
                            </div>
                        </div>
                    </div>
                    </div>
                      <div style="width: 32px; height: 32px; position: absolute; cursor: pointer; left: 11.7771%; top: 37.4286%; opacity: 1; z-index: 0;" class="easypin-marker">
                        <div class="text-inside" (click)="onChestClick()" >
                          <img src="assets/images/home_img/plus.png" alt="" class="plus" [class.img_active]="C_Active">
                          <div class="text-box" [class.active]="C_Active">
                              <div>
                                <img src="assets/images/home_img/armoire_Plus.jpg" alt="">
                              </div>
                              
                              <div class="content">
                                  <h5>new couch</h5>
                                  <p>
                                      take our furniture with perfect quality and price.
                                  </p>
                                  <div class="quick-look__actions"><button type="button" id="284080-guicklook-add-to-cart" data-dismiss="modal" class="btn secondary-button add-to-cart-btn" tabindex="0">Add to Cart</button> <a class="btn detail" data-uw-rm-kbnav="anohref" href="https://www.livingspaces.com/pdp-emery-chiffon-84-inch-sofa-with-reversible-chaise-284080" data-uw-rm-brl="false" aria-label="Add to Cart More Details" uw-rm-vague-link-id="https://www.livingspaces.com/pdp-emery-chiffon-84-inch-sofa-with-reversible-chaise-284080$more details" data-uw-rm-vglnk="" tabindex="0">More Details</a></div>
                              </div>
                          </div>
                      </div>
                      </div>
                      <div style="width: 32px; height: 32px; position: absolute; cursor: pointer; left: 56.9926%; top: 53.4286%; opacity: 1; z-index: 0;" class="easypin-marker">
                        <div class="text-inside" (click)="onArmoireClick()" >
                          <img src="assets/images/home_img/plus.png" alt="" class="plus" [class.img_active]="A_Active">
                          <div class="text-box" [class.active]="A_Active">
                              <div>
                                <img src="assets/images/home_img/table_plus.jpg" alt="">
                                  
                              </div>
                              
                              <div class="content">
                                  <h5>new couch</h5>
                                  <p>
                                      take our furniture with perfect quality and price.
                                  </p>
                                  <div class="quick-look__actions"><button type="button" id="284080-guicklook-add-to-cart" data-dismiss="modal" class="btn secondary-button add-to-cart-btn" tabindex="0">Add to Cart</button> <a class="btn detail" data-uw-rm-kbnav="anohref" href="https://www.livingspaces.com/pdp-emery-chiffon-84-inch-sofa-with-reversible-chaise-284080" data-uw-rm-brl="false" aria-label="Add to Cart More Details" uw-rm-vague-link-id="https://www.livingspaces.com/pdp-emery-chiffon-84-inch-sofa-with-reversible-chaise-284080$more details" data-uw-rm-vglnk="" tabindex="0">More Details</a></div>
                              </div>
                          </div>
                      </div>
                      </div>
                    </div>
                </div>
              </div>
                </div>
              </div>
          </div>
          <div class="pro-view-all-3 text-center">
            <a href="#">View all collection</a>
        </div>
    </section>

    <section class="ftco-section ftco-counter ftco-no-pt ftco-no-pb img" id="section-counter">
        <div class="title">
            <h2><span>/</span> Why choose us</h2>
          </div>
        <div class="container">
          <div class="row d-md-flex align-items-center justify-content-end">
            <div class="col-lg-12">
              <div class="ftco-counter-wrap">
                <div class="row no-gutters d-md-flex align-items-center align-items-stretch">
                  <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate fadeInUp ftco-animated">
                    <div class="block-18">
                      <div class="text">
                        <div class="icon d-flex justify-content-center align-items-center">
                          <span class="flaticon-house"></span>
                        </div>
                        <strong class="number" data-number="50">{{yearsCount}}</strong>
                        <span>Years of Experienced</span>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate fadeInUp ftco-animated">
                    <div class="block-18">
                      <div class="text">
                        <div class="icon d-flex justify-content-center align-items-center">
                          <span class="flaticon-handshake"></span>
                        </div>
                        <strong class="number" data-number="10000">{{clientsCount}}</strong>
                        <span>Trusted Clients</span>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate fadeInUp ftco-animated">
                    <div class="block-18">
                      <div class="text">
                        <div class="icon d-flex justify-content-center align-items-center">
                          <span class="flaticon-lawyer"></span>
                        </div>
                        <strong class="number" data-number="564">{{designersCount}}</strong>
                        <span>Qualified Designers</span>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate fadeInUp ftco-animated">
                    <div class="block-18">
                      <div class="text">
                        <div class="icon d-flex justify-content-center align-items-center">
                          <span class="flaticon-medal"></span>
                        </div>
                        <strong class="number" data-number="300">{{honorsCount}}</strong>
                        <span>Honors &amp; Awards</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        </section>
        
        <div class="bg-show">
            <div class="container" *ngIf="isPlay">
                <div (click)="stopVideo()"><img id="stop" src="assets/images/home_img/x.png" alt="" class="cancel"></div>
                <iframe class="video"  src="assets/video.mp4" frameborder="0" allowfullscreen></iframe>
                
            </div>
        <div class="link" *ngIf="!isPlay">
        <span  class="link_a" (click)="showVideo()">play <img id="play" src="assets/images/home_img/right-chevron.png" alt=""></span>
        </div>
        
        </div>
        <section class="container_last">
            <div class="aspect-ratio-box aspect-ratio-1140x400">
                <div class="ls-hero-slide">
                    <div class="flex-component">
                        <div class="flex-component__box">
                            <a href="/inspiration/lifestyle/small-space-living" data-uw-rm-brl="false">
                                <img src="https://www.livingspaces.com/globalassets/images/home/2020/08/0807_small_spaces_text.png" alt="small space = happy place" class="img-responsive" loading="lazy" width="480" height="400" data-uw-rm-ima-original="small space = happy place">
                            </a>
                            <p class="sr-only">Limited square feet does not have to limit the possibilites when it comes to
                                making your home more functional and more beautiful. All you need is are the right designs.
                                Learn more.</p>
                        </div>
                        <div class="flex-component__box">
                            <a href="/inspiration/lifestyle/small-space-living" data-uw-rm-brl="false">
                                <img src="https://www.livingspaces.com/globalassets/images/home/2020/08/0810_smallspaces_video.gif" alt="Small work zone, lounge zone, dining zone and sleep zone." class="img-responsive" loading="lazy" width="660" height="400" data-uw-rm-ima-original="small work zone, lounge zone, dining zone and sleep zone.">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
          </section>
        <div class="contest-component text-center">
        <div class="container">
            <div class="title" data-uw-rm-sr="">Subscribe to our emails for a chance to <span data-uw-rm-sr="">WIN a 5000DH</span> Discount.</div>
            <a href="#" onclick="return false;" data-toggle="modal" data-target="#subscriptionContestModal" data-uw-rm-brl="false" data-uw-rm-kbnav="click" aria-label="www.livingspaces.com" data-uw-rm-empty-ctrl=""><input type="button" class="btn primary-button" value="Sign Up"></a>
        </div>
          

<app-footer></app-footer>


<!--
<section class="home_slide_section">

    <div class="slideshow slider__reveal">
        <div class="slide one">
            <div class="slide__img-wrap">
                <div class="slide__img"  id="img1"></div>
                <div class="slide__img-reveal"></div>
            </div>
            <div class="slide__title slider__text">
                <div class="slider_text_left">
                   <p>snksnlqskn</p>
                    <h2>osita app</h2>
                    <p>Sed do eiusmod tempor <br> incididunt ut labore et dolore <br> magna aliqua.
                    </p>
                    <a href="single-portfolio.html">see <br> project</a>
                </div>
                <div class="slider_text_right">
                    <span class="slider_rotate_text">branding design</span>
                </div>
            </div>
            <span class="slide__number">01 <span class="number_one one">05</span></span>
            <div class="slider_shap_img shape shape-1 scene">
                <span data-depth="0.5"><img src="../../../assets/img/slider/shap-dots.png" alt="" ></span>
            </div>
            <div class="slider_shap_img2 shape shape-1 scene">
                <span data-depth="1.7"><img src="assets/img/slider/slider-shap.png" alt=""></span>
            </div>
        </div>
        <div class="slide two">
            <div class="slide__img-wrap">
                <div class="slide__img" id ="img2"></div>
                <div class="slide__img-reveal"></div>

            </div>
            <div class="slide__title slider__text slider__text2">
                <div class="slider_text_left">
                    <h2>curology</h2>
                    <p>Sed do eiusmod tempor <br> incididunt ut labore et dolore <br> magna aliqua.
                    </p>
                    <a href="single-portfolio.html">see <br> project</a>
                </div>
                <div class="slider_text_right two">
                    <span class="slider_rotate_text">branding design</span>
                </div>
            </div>
            <span class="slide__number">02 <span class="number_one two">05</span></span>
            <div class="slider_shap_img shape shape-1 scene">
                <span data-depth="0.5"><img src="assets/img/slider/shap-dots2.png" alt=""></span>
            </div>
            <div class="slider_shap_img2 shape shape-1 scene">
                <span data-depth="1.7"><img src="assets/img/slider/slider-shap2.png" alt=""></span>
            </div>

        </div>
        <div class="slide three slide_style_left">
            <div class="slide__img-wrap">
                <div class="slide__img" id="img3"></div>
                <div class="slide__img-reveal"></div>

            </div>
            <div class="slide__title slider__text slider__text3">
                <div class="slider_text_right three">
                    <span class="slider_rotate_text">branding design</span>
                </div>
                <div class="slider_text_left text-left">
                    <h2>greo store</h2>
                    <p>Sed do eiusmod tempor <br> incididunt ut labore et dolore <br> magna aliqua.
                    </p>
                    <a href="single-portfolio.html">see <br> project</a>
                </div>
            </div>
            <span class="slide__number">03 <span class="number_one three">05</span></span>
            <div class="slider_shap_img shape shape-1 scene">
                <span data-depth="0.5"><img [src]="//assets/img/slider/shap-dots3.png" alt=""></span>
            </div>
            <div class="slider_shap_img2 shape shape-1 scene">
                <span data-depth="1.7"><img src="http://localhost:4200/assets/img/slider/shap-dots3.png" alt=""></span>
            </div>
        </div>
        <div class="slide four slide_style_left">
            <div class="slide__img-wrap">
                <div class="slide__img" id="img4"></div>
                <div class="slide__img-reveal"></div>

            </div>
            <div class="slide__title slider__text slider__text3">
                <div class="slider_text_right three">
                    <span class="slider_rotate_text">branding design</span>
                </div>
                <div class="slider_text_left text-left">
                    <h2>club toucan</h2>
                    <p>Sed do eiusmod tempor <br> incididunt ut labore et dolore <br> magna aliqua.
                    </p>
                    <a href="single-portfolio.html">see <br> project</a>
                </div>

            </div>
            <span class="slide__number">04 <span class="number_one four">05</span></span>
            <div class="slider_shap_img shape shape-1 scene">
                <span data-depth="0.5"><img src="assets/img/slider/shap-dots4.png" alt=""></span>
            </div>
            <div class="slider_shap_img2 shape shape-1 scene">
                <span data-depth="1.7"><img src="assets/img/slider/slider-shap4.png" alt=""></span>
            </div>
        </div>
        <div class="slide five slide_style_left">
            <div class="slide__img-wrap">
                <div class="slide__img" style="background-image: url(assets/img/slider/slide5.png);"></div>
                <div class="slide__img-reveal"></div>

            </div>
            <div class="slide__title slider__text slider__text3">
                <div class="slider_text_right three">
                    <span class="slider_rotate_text">branding design</span>
                </div>
                <div class="slider_text_left text-left">
                    <h2>QH coffee</h2>
                    <p>Sed do eiusmod tempor <br> incididunt ut labore et dolore <br> magna aliqua.
                    </p>
                    <a href="single-portfolio.html">see <br> project</a>
                </div>

            </div>
            <span class="slide__number">05 <span class="number_one five">05</span></span>
            <div class="slider_shap_img shape shape-1 scene">
                <span data-depth="0.5"><img src="assets/img/slider/shap-dots5.png" alt=""></span>
            </div>
            <div class="slider_shap_img2 shape shape-1 scene">
                <span data-depth="1.7"><img src="assets/img/slider/slider-shap5.png" alt=""></span>
            </div>
        </div>
        <nav class="slidenav">
            <button class="slidenav__item prev"><i class="ion-ios-arrow-left"></i></button>
            <button class="slidenav__item next"><i class="ion-ios-arrow-right"></i></button>
            <button class="slidenav__preview">
                <i class="ion-chevron-down"></i>
            </button>
        </nav>
    </div>
</section>-->


           


